/*COLORS: White:#FFFFFF Blue:#B8C7CD Green:#373832 Red:#804B4D Lt Brown:#A68A72 Olive */

* {
  box-sizing: border-box;
}

body  {
  background-image: url( "https://images.unsplash.com/photo-1461770354136-8f58567b617a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f0c8c34fe56f9669d1c6d129f597f895");
  background-size: cover;
}

header  {
  background-color:#A68A72;
  opacity: .7;
  border-bottom: 3px ridge #373832;
}

#headshot {
  height: auto;
  width:20%;
  margin: 2rem auto;
  display: block;
  opacity: .4;
}
h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #804B4D;
  font-family: monospace;
}
h2  {
  display: flex;
  justify-content: center;
  text-align: center;
  margin:auto;
  width: 30%;
  border-top: 2px ridge #B8C7CD;
  border-bottom: 2px ridge #B8C7CD;
}

#disabled {
  pointer-events: none;
  opacity: .5;
}
.mainMenu {
  font-family: fantasy;
  margin: 0 auto;
  text-align: center;
}

input.MyButton {
  padding:1rem .25rem;
  font-size: 1rem;
  font-family: fantasy;
  background: gray;
  color: #373832;
  cursor: pointer;
  border-top: 3px ridge olive;
  display: inline-block;
  margin: 0 -.20rem;
}

input.MyButton:first-child  {
  border-left: 3px ridge olive;
}

input.MyButton:last-child  {
  border-right: 3px ridge olive;
}

input.MyButton:hover {
  color: #373832;
  background: #804B4D;
  border-top: 3px ridge #373832;
  font-weight: bolder;
}

input.MyButton:first-child:hover  {
  border-left: 3px ridge #373832;
}

input.MyButton:last-child:hover  {
  border-right: 3px ridge #373832;
}

#about  {
  float:right;
  width: 70%;
  border-color: #373832;
  border-style: ridge;
  background-color: #B8C7CD;
  color: maroon;
  border-radius:5px;
  font-family: fantasy;
  text-align: center;
  opacity: .5;
  margin: 1em 5% 1em 0;
  padding: .5rem;
}
#hobbies  {
  float:left;
  width: 15%;
  border-color: #373832;
  border-style: ridge;
  border-radius:5px;
  background-color: #B8C7CD;
  color: maroon;
  font-family: fantasy;
  text-align: center;
  opacity: .5;
  margin: 1em 0 1em 5%;
  padding: .5rem;
}

#hobbies ul li  {
  list-style: disc;
  text-align: left;
}

#hobbies ul li:hover  {
  font-style: oblique;
  font-weight: bold;
}
footer {
  clear:both;
  border-top: 3px ridge #373832;
  /*margin-top: 1rem;*/
  background-color: #A68A72;
  color: maroon;
  opacity: .7;
}

footer ul li {
  list-style:none;
}
footer ul li a {
    text-decoration:none;
    color:maroon;
}

footer ul li a:hover {
  color:gray;
  font-style: italic;
}
